    pub fn set_heading(&mut self, angle: f32) -> Result<()> {
        if !angle.is_finite() || !angle.is_finite() {
            return Err(miette!("set_heading (draw.rs): Invalid angle value, must be a integer"));
        }

        self.direction = angle as i32;
        Ok(())
    }
